{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/templatemo-plot-listing.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/updated.css' %}" />
    <style>
      .imge {
        display: flex;
        width: auto;
        height: auto;
      }
    </style>

    <!-- updated styles -->

    <style>
      .sol-text {
        color: green;
        position: absolute;
        top: 82%;
        left: 50%;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 900;
        transform: translate(-50%, -50%);
      }

      @media (min-width: 900px) {
        .sol-text {
          color: green;
          position: absolute;
          top: 70%;
          font-size: 40px;
          font-weight: 900;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .category-post .container {
        margin-top: 80px;
      }
    </style>

    <!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header
      class="header-area header-sticky wow slideInDown"
      data-wow-duration="0.75s"
      data-wow-delay="0s"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/home" class="logo">
                <img
                  src="{% static 'assets/images/white-logo1.png' %}"
                  alt=""
                />
                <h4>M-ZAP</h4>
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about" class="active">About us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li>
                  <!-- <div class="main-white-button">
                    <a href="/classifymosquito"
                      ><i class="fa fa-plus"></i>Scan your mosquito</a
                    >
                  </div> -->
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="top-text header-text">
              <h2>
                We have Solutions for
                <br />
                <span class="auto-type"></span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="category-post">
      <h2 class="sol-text">Our Solutions</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="naccs">
              <div class="grid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="menu">
                      <div class="first-thumb active">
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="{% static 'assets/images/icons8-mosquito-net-50.png' %}"
                              alt=""
                            />
                            <h4>Mosquito classification</h4>
                          </span>
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="{% static 'assets/images/icons8-virus-50.png' %}"
                              alt=""
                            />
                            <h4>Disease Endemic Prediction</h4>
                          </span>
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="{% static 'assets/images/icons8-25--50.png' %}"
                              alt=""
                            />
                            <h4>Hostspot Visualisation</h4>
                          </span>
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="{% static 'assets/images/icons8-lake-50.png' %}"
                              alt=""
                            />
                            <h4>Water Bodies detection</h4>
                          </span>
                        </div>
                      </div>
                      <div class="last-thumb">
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="{% static 'assets/images/search-icon-05.png' %}"
                              alt=""
                            />
                            <h4>Future plan</h4>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <ul class="nacc">
                      <li class="active">
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="top-content">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="top-icon">
                                        <span class="icon"
                                          ><img
                                            src="{% static 'assets/images/icons8-mosquito-net-50.png' %}"
                                            alt=""
                                          />
                                          <h4>Mosquito classification</h4>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="main-white-button">
                                        <a href="/classifymosquito"
                                          ><i class="fa fa-plus"></i>Try Out</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="description">
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <h4>Mosquito Classification</h4>
                                      <p class="ml-0">
                                        The image of a mosquito is collected in
                                        the system and run into the model which
                                        detects the accurate species of mosquito
                                        and tells if it is dangerous or not. For
                                        detection, we use an Image Classifier
                                        model. You may contact us for more
                                        information. Thank you.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="top-content">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="top-icon">
                                        <span class="icon"
                                          ><img
                                            src="{% static 'assets/images/icons8-virus-50.png' %}"
                                            alt=""
                                          />
                                          <h4>Disease Endemic Prediction</h4>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="main-white-button">
                                        <a href="#"
                                          ><i class="fa fa-plus"></i>Try Out</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="description">
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <h4>Disease Endemic Prediction</h4>
                                      <p>
                                        Emerging infectious diseases pose a
                                        growing threat to human populations.
                                        Many of the world’s epidemic diseases
                                        (particularly those transmitted by
                                        intermediate hosts) are known to be
                                        highly sensitive to long-term changes in
                                        climate and short-term fluctuations in
                                        the weather. The application of
                                        environmental data to the study of
                                        disease offers the capability to
                                        demonstrate vector–environment
                                        relationships and potentially forecast
                                        the risk of disease outbreaks or
                                        epidemics.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="top-content">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="top-icon">
                                        <span class="icon"
                                          ><img
                                            src="{% static 'assets/images/icons8-25--50.png' %}"
                                            alt=""
                                          />
                                          <h4>Hostspot Visualisation</h4>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="main-white-button">
                                        <a href="#"
                                          ><i class="fa fa-plus"></i>Try Out</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="description">
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <h4>Hotspot Visualisation</h4>
                                      <p>
                                        We are visualizing the mosquito-borne
                                        disease cases on the maps to make people
                                        aware of the condition. The data were
                                        are using for visualization were taken
                                        from both government and private
                                        sources. In India, the threat of malaria
                                        has decreased due to the collective
                                        efforts of both government and
                                        semi-government organizations. But
                                        Dengue is still a major issue in India
                                        that needs to be addressed urgently.
                                      </p>
                                      <div class="imge">
                                        <img
                                          src="/static/assets/images/hotspot1.jpg"
                                          alt=""
                                        />
                                        <img
                                          src="/static/assets/images/hotspot2.jpg"
                                          alt=""
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="top-content">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="top-icon">
                                        <span class="icon"
                                          ><img
                                            src="{% static 'assets/images/icons8-lake-50.png' %}"
                                            alt=""
                                          />
                                          <h4>Water Bodies Detections</h4>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="main-white-button">
                                        <a href="/water"
                                          ><i class="fa fa-plus"></i> Try Out</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="description">
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <h4>Water Bodies Detections</h4>
                                      <p>
                                        Observation of surface water is a
                                        functional requirement for studying
                                        ecological and hydrological processes.
                                        Recent advances in satellite-based
                                        optical remote sensors have promoted the
                                        field of sensing surface water to a new
                                        era.So we use machine learning models to
                                        analyse the satellite images and then
                                        use them to predict a water bodies and
                                        alert the zone as a mild hotspot.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="top-content">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="top-icon">
                                        <span class="icon"
                                          ><img
                                            src="{% static 'assets/images/search-icon-05.png' %}"
                                            alt=""
                                          />
                                          <h4>Future Plan</h4>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-6"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="description">
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <h2>Future Plan</h2>
                                      <br />
                                      <h3>Drone</h3>
                                      <p>
                                        Our major upgrade to project will be
                                        addition of drones in the process.
                                        Drones will run by machine learning
                                        trained models ,on their own.The various
                                        usecases of drones are:
                                      </p>
                                      <div class="imge">
                                        <img
                                          src="/static/assets/images/drone-alone.jpg"
                                          alt=""
                                        />
                                        <img
                                          src="/static/assets/images/drone-man.jpg"
                                          alt=""
                                        />
                                      </div>
                                      <h4>Automatic Pesticide Spray</h4>
                                      <p>
                                        We plan on implementing automatic
                                        Pesticide spray system using drones
                                        which will powered by machine learning
                                        to work on their own
                                      </p>
                                      <br />
                                      <h4>Water Body Detection Using Drones</h4>
                                      <p>
                                        Drone technology enables effective
                                        monitoring of small tributary and
                                        neighborhood scale water bodies. We will
                                        use drones to automatically scan a area
                                        if it has any water bodies nearby and
                                        then disinfect the area.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="burden">
      <div class="section-heading">
        <h2>The Burden of Mosquito-Born Diseases</h2>
      </div>
      <p>
        Mosquito-borne diseases are those spread by the bite of an infected
        mosquito. Diseases that are spread to people by mosquitoes include
        <span>
          virus, West Nile virus, Chikungunya virus, dengue, and malaria.</span
        >
      </p>
      <div class="stats">
        <div class="deaths">2.7 million <span>die every Year</span></div>
        <div class="risk">
          700 million people get a
          <span> mosquito-borne illness each year</span>
        </div>
        <div class="population">
          90% of mosquito-borne illnesses occur in <span>Africa</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="platform">
        <h2>Our Platform</h2>
        <div class="platc">
          <div class="c">
            <h4>Our Platform</h4>
            <p>
              A one-stop solution created to implement end-to-end real-world
              mosquito eradication solutions based on artificial intelligence.
              Forecasting We are building India’s first AI algorithm to predict
              vector-borne disease risk and spread. With this, we can reduce the
              incidence rate, plan resource deployment, and better impact
              socio-economic fall-out.
            </p>
            <h4>Forecasting</h4>
            <p>
              We are building India’s first AI algorithm to predict vector-borne
              disease risk and spread. With this, we can reduce the incidence
              rate, plan resource deployment, and better impact socio-economic
              fall-out.
            </p>
            <h4>Classification</h4>
            <p>
              We are building India’s first AI algorithm to predict vector-borne
              disease risk and spread. With this, we can reduce the incidence
              rate, plan resource deployment, and better impact socio-economic
              fall-out.
            </p>
            <h4>Visualization</h4>
            <p>
              We are building India’s first AI algorithm to predict vector-borne
              disease risk and spread. With this, we can reduce the incidence
              rate, plan resource deployment, and better impact socio-economic
              fall-out.
            </p>
            <h4>Detection</h4>
            <p>
              We are building India’s first AI algorithm to predict vector-borne
              disease risk and spread. With this, we can reduce the incidence
              rate, plan resource deployment, and better impact socio-economic
              fall-out.
            </p>
          </div>
          <img
            class="d"
            src="{% static 'assets/images/Colorful Minimalist Linear Steps Circular Diagram (2) (2).png' %}"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="platform">
        <h2>Our Customers</h2>
        <div class="platc">
          <div class="c">
            <h4>Normal Citizens</h4>
            <p>
              Local people are using our system to keep themselves protected
              from dangerous mosquito borne disease like Malaria , Dengue and
              Encephalitis.
            </p>
            <h4>NGOs</h4>
            <p>
              We work with NGOs to help fulfil their target in regards to
              mosquito eradication and awareness generation programs.
            </p>
            <h4>Pest Control Organinsations</h4>
            <p>
              We work with existing Pest control organisations by providing the
              relevant data to customize and improve their services.
            </p>
          </div>
          <img
            class="d"
            src="/static/assets/images/spray.jpg"
            alt=""
            style="
              margin-top: 2rem;
              height: 303px;
              width: 580px;
              margin-left: 7rem;
            "
          />
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading p-3">
              <h2>Testimonials</h2>
              <h6>Check It Out</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="gradient-custom">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="text-center">
              <!-- <i class="fas fa-quote-left fa-3x text-white"></i> -->
            </div>

            <div class="card">
              <div class="card-body px-4 py-6">
                <!-- Carousel wrapper -->
                <div
                  id="carouselDarkVariant"
                  class="carousel slide carousel-dark"
                  data-mdb-ride="carousel"
                >
                  <!-- Indicators -->
                  <div class="carousel-indicators mb-0">
                    <button
                      data-mdb-target="#carouselDarkVariant"
                      data-mdb-slide-to="0"
                      class="active"
                      aria-current="true"
                      aria-label="Slide 1"
                    ></button>
                    <button
                      data-mdb-target="#carouselDarkVariant"
                      data-mdb-slide-to="1"
                      aria-label="Slide 1"
                    ></button>
                    <button
                      data-mdb-target="#carouselDarkVariant"
                      data-mdb-slide-to="2"
                      aria-label="Slide 1"
                    ></button>
                  </div>

                  <!-- Inner -->
                  <div class="carousel-inner pb-5">
                    <!-- Single item -->
                    <div class="carousel-item active">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                alt="woman avatar"
                                width="150"
                                height="150"
                              />
                            </div>
                            <div
                              class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                            >
                              <h4 class="mb-4">
                                Maria Smantha - Web Developer
                              </h4>
                              <p class="mb-0 pb-3">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. A aliquam amet animi
                                blanditiis consequatur debitis dicta distinctio,
                                enim error eum iste libero modi nam natus
                                perferendis possimus quasi sint sit tempora
                                voluptatem. Est, exercitationem id ipsa ipsum
                                laboriosam perferendis.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                alt="woman avatar"
                                width="150"
                                height="150"
                              />
                            </div>
                            <div
                              class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                            >
                              <h4 class="mb-4">
                                Lisa Cudrow - Graphic Designer
                              </h4>
                              <p class="mb-0 pb-3">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae
                                ab illo inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                alt="woman avatar"
                                width="150"
                                height="150"
                              />
                            </div>
                            <div
                              class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                            >
                              <h4 class="mb-4">
                                John Smith - Marketing Specialist
                              </h4>
                              <p class="mb-0 pb-3">
                                At vero eos et accusamus et iusto odio
                                dignissimos qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores
                                et quas molestias excepturi sint occaecati
                                cupiditate non provident, similique sunt in
                                culpa qui officia mollitia animi id laborum et
                                dolorum fuga.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Inner -->

                  <!-- Controls -->
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <!-- Carousel wrapper -->
              </div>
            </div>

            <div class="text-center">
              <i class="fas fa-quote-right fa-3x text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="about">
              <div class="logo">
                <img
                  src="{% static 'assets/images/white-logo2.png' %}"
                  alt=""
                />
              </div>
              <p>One step Solutions for preventing mosquito-borne diseases.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="helpful-links">
              <h4>Helpful Links</h4>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><a href="#">About Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-us">
              <h4>Contact Us</h4>
              <p>NIT Hamirpur</p>
              <div class="row">
                <div class="col-lg-6">
                  <a href="#">9876234232</a>
                </div>
                <div class="col-lg-6">
                  <a href="#">9856743012</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sub-footer">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto-type", {
        strings: [
          "Mosquito classification",
          "Disease Endemic Prediction",
          "Hostspot Visualisation",
          "Water Bodies Detections",
        ],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true,
      });
    </script>
  </body>
</html>
